<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>playlist_add</mat-icon> Click here to create a new topic
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form [formGroup]="topicForm" fxLayout="column" fxLayoutAlign="start center">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Insert name"
      />
      <mat-error *ngIf="!topicForm.get('name').valid"
        >Name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select [(value)]="category">
        <mat-option value="All">All</mat-option>
        <mat-option value="Sports">Sports</mat-option>
        <mat-option value="Literature">Literature</mat-option>
        <mat-option value="Music">Music</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        class="resize-vertical"
        matInput
        type="text"
        formControlName="description"
        placeholder="Insert description"
        rows="4"
      ></textarea>
      <mat-error *ngIf="!topicForm.get('description').valid"
        >Description is required</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      (click)="topicForm.valid && submitForm()"
    >
      <mat-icon>playlist_add_check</mat-icon> Create
    </button>
  </form>
</mat-expansion-panel>
